{% load static %}
<html>

    <head>

            <link href="{% static 'realestate/css/vendor/kendo.common.min.css' %}" rel="stylesheet">
            <link href="{% static 'realestate/css/vendor/kendo.material.min.css' %}" rel="stylesheet">
            <link href="{% static 'realestate/css/vendor/kendo.material.mobile.min.css' %}" rel="stylesheet">
            <link href="{% static 'realestate/css/style.css' %}" rel="stylesheet"> </link>
    
            <script src="{% static 'realestate/js/vendor/jquery.min.js' %}"> </script>
            <script src="{% static 'realestate/js/vendor/kendo.all.min.js' %}"> </script>
    
            <script src="{% static 'realestate/js/script.js' %}"> </script>
    </head>

    <body>
        <div id="main-menu">
            <div>
                <ul id="menu"> </ul>
            </div>
            <div>
                <ul id="menu2"> </ul>
            </div>
        </div>
        <div id="background">
            <img src="../../static/realestate/images/home_background.jpg">

        </div>
    </body>

</html>